<!doctype html ng-app="EuroMarkovApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='style.css') }}" rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        $(function() {

                $('#filterform').submit(function(event) {
                    event.preventDefault();
                    var $form = $(this)
                    startYear = $form.find("input[name='startYear']").val()
                    endYear = $form.find("input[name='endYear']").val()

                    var postData = {startYear: startYear ,endYear: endYear }

                    postData = $('#filterform').serialize();
                    var posting = $.post( "{{url_for('generate')}}", postData);

                    posting.done(function(result) {
                        console.log(result);
                        $('#songTitle').html(result.songTitle)
                        $('#songLyrics').html(result.songLyrics)

                        });

                    });
                });
            </script>
            <title>EuroMarkov</title>
        </head>

        <div id="container">
        <form id="filterform" method="post" action="{{ url_for('generate') }}">
            <p>Start Year: <input type="text" name="startYear" value="1956" /> (1956) </p>
            <p>End Year: <input type="text" name="endYear" value="2015" />  (2015) </p>
            <div id='countryListDiv'>
                {% for country in countryList %}
                <input type="checkbox" name="country" value="{{country}}" /> {{country}} <br />
                {% endfor %}
            </div>
            <input type="submit" value="Generate!"  id="generate"/>
        </form>

        <h1 id='songTitle'>{{ songTitle }}</h1>
        <div id='songLyrics'> </div>
    </div>
